---
import GithubWhite from "@/assets/github-white.svg";
import LinkedInWhite from "@/assets/linkedin-white.png";
import CenterUnderline from "@/components/ui/text/underline-center";
import Image from "astro/components/Image.astro";
---

<div
  class="w-full h-30 bg-[#1f4739] font-funnel p-10 flex justify-between text-white"
>
  <div>
    <p>Subtext App: Local AI Subtitles</p>

    <div class="flex gap-2 items-center">
      <p>Created by:</p>
      <a href="https://www.linkedin.com/in/jchu634/">
        <Image src={LinkedInWhite} class="w-6" alt="Linkedin Logo" /></a
      >
      <a href="https://github.com/jchu634">
        <GithubWhite size="20" />
      </a>
      <a href="https://www.keshuac.com">
        <CenterUnderline client:load label="JCHU634" />
      </a>
    </div>
  </div>
  <p>© 2025</p>
</div>
