---
import Logo from "@/assets/Logo.svg";
---

<div class="w-full h-20 fixed p-1 pt-5 px-4 md:px-8 lg:px-15 bg-white">
  <div
    class="flex h-full font-sans bg-[#1f4739] items-center space-x-2 rounded-2xl"
  >
    <img src={Logo.src} class="pl-4 size-10" alt="Subtext Homepage" />

    <p class="text-white font-lexend font-medium">Subtext</p>
  </div>
</div>
