---
import { Image } from "astro:assets";
import background from "../assets/background.svg";
import ScreenshotDarkLarge from "@/assets/ScreenshotDarkLarge.png";
import ScreenshotLightLarge from "@/assets/ScreenshotLightLarge.png";
import Github from "@/assets/github.svg";
import { RotaryText } from "@/components/HomepageRotaryText";
---

<div class="flex h-full pt-20 px-8 md:px-15 lg:px-20 font-sans">
  <Image
    src={background}
    class="fixed inset-0 w-full h-full -z-10 blur-[100px]"
    alt="background"
    fetchpriority="high"
  />
  <main class="flex w-full pt-20 gap-8">
    <section class="flex-col h-full xl:w-1/2">
      <section class="w-fit">
        <h1 class="text-[60px] font-lexend">Subtext</h1>

        <RotaryText client:only="react" />
      </section>

      <section class="flex gap-4 flex-wrap pt-5 font-funnel pl-1 w-fit">
        <a
          class="flex items-center px-3 py-2.5 text-white rounded-lg bg-gradient-to-r from-[#3245ff] to-[#bc52ee] shadow-[inset_0_0_0_1px_rgba(255,255,255,0.12),inset_0_-2px_0_rgba(0,0,0,0.24)] hover:shadow-none hover:text-gray-100 transition-colors"
          href="https://github.com/jchu634/Subtext-app/releases/latest/download/Subtext-Setup.exe"
          >Download Now</a
        >
        <a
          class="flex items-center px-3 py-2.5 bg-gray-300 text-gray-900 hover:text-gray-600 transition-colors rounded-lg gap-x-2"
          href="https://github.com/jchu634/Subtext-app"
        >
          <p>Github Repo</p>

          <Github size="30" />
        </a>
      </section>
    </section>
    <section class="xl:w-1/2 flex items-center justify-end">
      <Image
        src={ScreenshotLightLarge}
        alt="A screenshot of the subtext application"
        class="dark:hidden block w-full"
      />
      <Image
        src={ScreenshotDarkLarge}
        alt="A screenshot of the subtext application"
        class="dark:block hidden w-full"
      />
    </section>
  </main>
</div>
